# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv

# Client / Binary Files
*.exe
*.dll
*.dat
*.Emg
*.ogg
*.wav
*.bmp
*.txt
*.log
*.ini
*.ico
!server/requirements.txt
!requirements.txt

# Specific client and debug directories
scratch/
cursor/
data/
data_backup/
pic/
sound/
menu/
font/
sty/
txt/
upimg/
user/
jma/
quest_output/
tools/

# Databases
*.db
*.sqlite3
*.sqlite3-journal

# Except for static server db templates
!server/ServerDataBase.db

# IDE
.vscode/
.idea/
.DS_Store
