# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite databases (if you don't want to track them)
*.sqlite3
*.sqlite3-journal
# *.db # Yorum satırı yapıldı çünkü wlo_server.db zaten repoda olabilir.

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store
